@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  @apply min-h-screen bg-custom-white text-custom-blue/gray-900;
}

.subtitle {
  @apply text-[30px] font-semibold;
}

.paragraph {
  @apply text-[14px];
}

.container > section:not(:first-child) {
  @apply py-[120px];
}
